* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

body {
    background-color: rgba(239, 111, 209, 0.297);
}

h3 {
    width: 100%;
}

/* WIDTH */

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}


.black {
    color: rgb(11, 11, 11);
}

.white {
    color: white;
}

/* PADDING TOP */
.top20 {
    padding-top: 20px;
}

.top40 {
    padding-top: 40px;
}

.top50 {
    padding-top: 50px;
}

.top70 {
    padding-top: 70px;
}

.top150 {
    padding-top: 150px;
}

/* PADDING BOTTOM */

.bottom20 {
    padding-bottom: 20px;
}

.bottom50 {
    padding-bottom: 50px;
}

.textCenter {
    text-align: center;
}

.bgRed {
    background-color: red;
}

/* MARGIN */

.margin {
    margin: 0 30px;    
}

.left {
    margin-left: 70px;
}

.btn{
    background-color: rgb(26, 25, 25);
    color: white;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: inline-block;
    border-radius: 12px;
    margin-top: 40px;
}

/* HEADER */

header {
    background-color: rgba(255, 88, 135, 0.169);
    padding: 25px 0px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 3;
}
header>nav {
    margin: auto;
}
.pucesNone {
    list-style: none;
}

/* Présentation */

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Mes projets */

.divProject {
    background-color: rgba(0, 0, 0, 0.142);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    
}

.imgProject {
    width: 350px;
    height: 350px;
    border-radius: 30px;
}

.divImg {
    margin: auto;
    display: block;
    object-fit: contain;
}

/* Compétences */

.underlineBold {
    text-decoration: underline;
    font-weight: bold;
}