* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Classe générale */

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

body {
    background-color: rgba(255, 125, 196, 0.237);
}

h1 {
    display: block;
    font-size: 80px;
}


h3 {
    width: 100%;
}

/* WIDTH */

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

/* Couleur */

.black {
    color: rgb(11, 11, 11);
}

.white {
    color: white;
}

/* PADDING TOP */

.top40 {
    padding-top: 40px;
}

.top70 {
    padding-top: 70px;
}

.top100 {
    padding-top: 100px;
}

.top150 {
    padding-top: 150px;
}

.top250 {
    padding-top: 250px;
}
/* PADDING BOTTOM */

.bottom20 {
    padding-bottom: 20px;
}

.bottom50 {
    padding-bottom: 50px;
}

.left {
    padding-left: 50px;
}

.textCenter {
    text-align: center;
}

.bgRed {
    background-color: red;
}


.btn{
    background-color: rgb(26, 25, 25);
    color: white;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: inline-block;
    border-radius: 12px;
    margin-top: 40px;
}

/* HEADER */

header {
    background-color: rgba(255, 88, 135, 0.169);
    padding: 25px 0px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 3;
}

header>nav {
    margin: auto;
}

header>nav>ul>li>img {
    border-radius: 100px;
}
.pucesNone {
    list-style: none;
}

/* Section Présentation */

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Section Mes projets */

.divProject {
    background-color: rgba(0, 0, 0, 0.142);
    border-radius: 12px;
    padding-bottom: 20px;
    
}

.imgProject {
    width: 350px;
    height: 230px;
    border-radius: 30px;
}

.divImg {
    margin: auto;
    object-fit: contain;
}

/* Section Compétences */

.underlineBold {
    text-decoration: underline;
    font-weight: bold;
}

/* Marge à l'intérieur de ma div pour centrer */

.contain {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

/* Font Size */
.fSize50 {
    font-size: 50px;
}

.fSize30 {
    font-size: 30px;
}

/* Photo */
.chat {
    border-radius: 80px;
    width: 90px;
}

/* FOOTER */

.bgFooter {
    background-color: rgba(204, 0, 92, 0.1);
}