* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.w25 {
    width: 25%;
}
.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.black {
    color: rgb(11, 11, 11);
}

/* HEADER */

header {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
}

.pucesNone {
    list-style: none;
}